body{
  background-image: linear-gradient(red, black);
  height: 100vh;
  font-family: sans-serif;
  color: white;
  padding: 50px;
  
}


/*
div{
  border: 1px solid red;
}*/

.btn-container{
  display: grid;
}

.btn{
  justify-self: center;
  align-self: center;
  width: 65%;
  margin: 12px;
  background-color: black;
}

.btn:hover{
  border: 1px solid red;
  background-image: linear-gradient(black, darkRed);
  
}

#btn-1{
  grid-row-start: 1;
  grid-row-end: 1;
}

#btn-2{
  grid-row-start: 2;
  grid-row-end: 2;
}

#btn-3{
  grid-row-start: 3;
  grid-row-end: 3;
}


img{
  height: 60px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
}

.img{
  height: 80px;
  width: 80px;
  border-radius: 40px;
  align-self: center;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

h1{
  
  text-align: center;
}

h3{
  text-align: center;
}

#caption{
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

footer{
  margin-top: 100px;
  opacity: 0.3;
}
