html{
  background-color: #231f20;
  color: #bf9724;
  font-family: Garamond, serif;
  letter-spacing: 3px;
  text-align: center;
}


body {
   height: 100%;
   overflow-y: hidden;
}

.container{
  margin: auto;
  margin-top: 10%;
}

.logo{
  height: 450px;
  width: 450px;
}

.bg {
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%; 
  padding-bottom:250px;
  margin-top: -20%;
}

a{
  text-decoration: none;
  color: #bf9724;
}

h3:hover{
  transform: scale(0.9);
  opacity: 0.5;
}